.contact-us {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--black-color);
}

.contact-us .container {
    flex: 1;
}

.contact-us-main {
    display: flex;
    gap: 55px;
    padding: 0 5%;
}

.contact-us-left {
    flex: 1;
}

.contact-us-right {
    flex: 1;
    opacity: 0.9;
}

.contact-us-title span, .contact-us-frame-title span {
    font-size: 0.8rem;
    opacity: 0.75;
}

.contact-us-body .form-control {
    color: var(--black-color) !important;
    font-size: 0.9rem !important;
}

.contact-us-body .form-control:focus {
    border: 1px solid var(--black-color);
}

.contact-us-body .form-label {
    font-size: 0.85rem !important;
}

.btn-contact-us {
    display: flex;
    justify-content: center;
}

.btn-contact-us button {
    border: 1px solid var(--theme-color) !important;
    width: 40%;
    background-color: var(--theme-color) !important;
    color: var(--bg-color) !important;
    transition: all 0.3s ease-in-out ;
    font-size: 0.9rem;
}

.btn-contact-us button:hover {
    transform: scale(1.02);
}

.contact-us-frame-title  {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 0.9rem;
}

.contact-us-frame-title h5{
    font-weight: 600;
    color: var(--black-color);
    font-size: large;
}

.contact-us-frame-row {
    font-size: 0.9rem;
    color: var(--black-color);
}

@media (max-width: 426px) {
    .contact-us-main {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 25px;
    }    

    .contact-us-left, .contact-us-div {
        margin: 0 !important;
        justify-content: center;
        align-items: center;
    }

}