* {
    box-sizing: border-box;
}

html, body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    height: 100%;
    color: var(--second-color);
}

.add-voice-section-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 15%;
}

.add-voice-section-main{
    display: flex;
    flex: 1;
}

.add-voice-section-left{
    flex: 20%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.add-voice-section-right{
    flex: 80%;
}

.voice-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
  
.voice-tab-button {
    flex: 1;
    padding: 10px;
    background-color: #f8f9fa;
    border: none;
    border-bottom: 3px solid transparent;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
  
.voice-tab-button.active {
    border-bottom: 3px solid cornflowerblue; 
    color: cornflowerblue;
    font-weight: bold;
}
  
.voice-tab-content .tab-pane {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.voice-tab-content .voice-tab-pane.active {
    opacity: 1;
    transform: translateY(0);
}
  
.voice-tab-pane h3 {
    margin-bottom: 10px;
}
  
.voice-tab-pane p {
    font-size: 14px;
    line-height: 1.5;
}
  
#details {
    display: block;
    opacity: 1;
}

.voice-tab-button:focus {
    outline: none
}