.start-page {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
  
.background-image {
  padding: 20px;
  border-radius: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.efshane{
  color: var(--theme-color);
}
  
.start-login {
  background-color: white;
  color: var(--theme-color);
  border: 2px solid white;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  padding: 10px 24px;
  text-decoration: none;
  cursor: pointer;
}
  
.start-register {
  background-color: var(--theme-color) !important;
  color: white !important;
  border: 2px solid var(--theme-color) !important;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  padding: 10px 24px; 
  text-decoration: none;
  cursor: pointer;
}
  
/* responsive */ 
@media (max-width: 580px) {
  .container.d-flex {
    flex-direction: column;
  }

  .start-login{
    margin-bottom: 8px;
  }
  
  .container.d-flex button:last-child {
    margin-bottom: 0;
  }
}