.category-details-page{
    color: var(--second-color);
}

.category-details-page .container .details-book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.category-details-page .container .details-book-list .details-book-card {
    transition: all 0.3s ease-in-out;
    background: transparent;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    overflow: hidden;
    text-align: center;
    padding: 25px 0;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--bg-color);
}

.category-details-page .container .details-book-list .details-book-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.category-details-page .container .details-book-list .details-book-card .book-cover {
    margin-bottom: 5%;
    width: 150px;
    height: 240px;
    object-fit: cover;
}

.category-details-page .container .details-book-list .details-book-card .book-cover:hover {
    border-radius: 8px;
}

.category-details-page .container .details-book-list .details-book-card .details-book-writer {
    margin-top: 5%;
    gap: 8px;
    align-items: center;
}

.category-details-page .container .details-book-list .details-book-card .details-book-writer span {
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.9;
}

@media (max-width: 600px) {
    .category-details-page .container .details-book-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 10px;
    }

    .category-details-page .container .details-book-list .details-book-card .book-cover {
        width: 120px;
        height: 200px;
    }

    .category-details-page .container .details-book-list .details-book-card {
        padding: 15px 5px;
        margin-bottom: 5%;
    }

    .category-details-page .container .details-book-list .details-book-card span {
        font-size: 0.9rem;
    }

    .category-details-page .container .details-book-list .details-book-card .details-book-writer span {
        font-size: 0.7rem;
    }

    .category-details-page .container .details-book-list .details-book-card .details-book-writer img {
        width: 20px;
        height: 20px;
    }
}