.suggestion-books-container {
    padding: 8px;
}

.suggestion-books {
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
}

.suggestion-left-arrow,
.suggestion-right-arrow {
    font-size: 2rem;
    cursor: pointer;
    color: var(--second-color);
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.suggestion-left-arrow {
    left: 0;
    margin-right: 10px;
}

.suggestion-right-arrow {
    right: 0;
    margin-left: 10px;
}

.books-list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.books-list::-webkit-scrollbar {
    display: none;
}

.suggestionBook {
    width: 150px;
    color: var(--second-color);
}

@media (max-width: 768px) {
    .suggestion-left-arrow, .suggestion-right-arrow {
        font-size: 1.5rem;
    }
}