.suggestion-books-container {
    padding: 8px;
}

.suggestion-books {
    display: flex;
    align-items: center;
    position: relative;
}

.suggestion-left-arrow,
.suggestion-right-arrow {
    font-size: 2rem;
    cursor: pointer;
    color: var(--second-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.suggestion-left-arrow {
    left: -50px;
}

.suggestion-right-arrow {
    right: -50px;
}

.books-list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.books-list .suggestionBook {
    width: 150px;
    color: var(--second-color);
    transition: all 0.3s ease-in-out;
}

.books-list .suggestionBook img:hover {
    border-radius: 4px;
}

.books-list .suggestionBook:hover {
    transform: scale(1.05);
}

.books-list::-webkit-scrollbar {
    display: none;
}

.books-list .suggestion-book-writer {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.books-list .suggestion-book-writer p{
    font-size: 0.8rem;
    opacity: 0.9;
    margin: 0;
}

@media (max-width: 768px) {
    .suggestion-left-arrow, .suggestion-right-arrow {
        font-size: 1.5rem;
    }
}