.suggestion-books-container {
    padding: 8px;
    color: var(--second-color);
}

.suggestion-books-container .container .suggestion-books {
    display: flex;
    align-items: center;
    position: relative;
}

.suggestion-books-container .container .suggestion-books .books-list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    gap: 40px;
}

.suggestion-books-container .container .suggestion-books .books-list .suggestionBook {
    color: var(--second-color);
    transition: all 0.3s ease-in-out;
    border: 1px dashed var(--gray2-color);
    border-radius: 8px;
}

.suggestion-books-container .container .suggestion-books .books-list .suggestionBook:hover {
    transform: scale(1.05);
}

.suggestion-books-container .container .suggestion-books .books-list .suggestionBook .suggestion-book-cover {
    position: relative; 
}

.suggestion-books-container .container .suggestion-books .books-list .suggestionBook .suggestion-book-cover img {
    border-radius: 8px 8px 0 0;
}

.suggestion-books-container .container .suggestion-books .books-list .suggestionBook .suggestion-book-cover .headphone-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 1);
    padding: 5px;
    border-radius: 50%;
}

.suggestion-books-container .container .suggestion-books .books-list .suggestionBook .suggestion-book-cover img:first-child {
    width: 140px;
    height: 230px;
    object-fit: cover;
}

.suggestion-books-container .container .suggestion-books .books-list::-webkit-scrollbar {
    display: none;
}

.suggestion-books-container .container .suggestion-books .books-list .suggestion-book-writer {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.suggestion-books-container .container .suggestion-books .books-list .suggestion-book-writer span{
    font-size: 0.8rem;
    opacity: 0.9;
    margin: 0;
}

@media (max-width: 1025px) {
    .left-arrow {
        left: -40px !important;
    }
      
    .right-arrow {
        right: -40px !important;
    }
}

@media (max-width: 768px) {
    .left-arrow,
    .right-arrow {
        display: none;
    }

    .suggestion-books-container .container .suggestion-books .books-list {
        gap: 20px;
    }

    .suggestion-books-container .container .suggestion-books .books-list .suggestionBook .suggestion-book-cover img:first-child {
        width: 120px;
        height: 200px;
    }
}