@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.edit-section-page {
    color: var(--black-color);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
}

.edit-section-page .edit-fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--tabs-bg-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 25px;
    box-shadow: 0 px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.edit-section-page .edit-fixed-header .edit-header-buttons {
    display: flex;
    gap: 20px;
}

.edit-section-page .edit-fixed-header button {
    padding: 10px 15px;
    font-size: 0.9rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.edit-section-page .edit-fixed-header button.save{
    border: 1px solid var(--theme-color);
    background-color: var(--tabs-bg-color);
    color: var(--theme-color);
}

.edit-section-page .edit-fixed-header button.publish{
    background-color: var(--theme-color);
    color: var(--white-color);
}

.edit-section-page .edit-fixed-header button:hover{
    opacity: 0.9;
    transform: scale(1.1);
}

.edit-section-page .edit-image-upload-area {
    position: relative;
    margin: 0 10% !important;
    height: 300px;
    border: 2px dashed var(--gray5-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
}

.edit-section-page .edit-image-upload-area .edit-image-upload-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    color: var(--black-color);
    opacity: 0.8;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.edit-section-page .edit-image-upload-area .edit-image-upload-input {
    display: none;
}

.edit-section-page .edit-image-upload-area .edit-uploaded-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-section-page .edit-image-upload-area .edit-image-upload-label .edit-overlay{
    position: absolute;
    margin: 0 10%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: bold;
    opacity: 0;
    transition: all 0.3s ease;
}

.edit-section-page .edit-image-upload-area:hover .overlay{
    opacity: 1;
}

.edit-section-page .container form {
    margin: 0 10%;
}

.edit-section-page .container form .edit-section-title{
    font-size: 1.1rem !important;
    color: var(--black-color) !important;
    border: none !important;
    background: none !important;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    margin-top: 2%;
}

.edit-section-page .container form .edit-section-title::placeholder{
    color: var(--black-color) !important;
}

.edit-section-page .container form .edit-content-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 15px;
}

.edit-section-page .container form .edit-content-toolbar button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-section-page .container form .edit-content-toolbar button:hover {
    color: var(--theme-color);
}

.edit-section-page .container form .edit-content-toolbar button.active {
    background-color: var(--theme-color) !important;
    color: var(--white-color) !important;
    border-radius: 4px;
}

.edit-section-page .container form .edit-section-content {
    position: relative;
    resize: none !important;
    min-height: 300px;
    margin-top: 2%;
    font-size: 1rem;
    color: var(--black-color) !important;
    border: none !important;
    background: none !important;
    outline: none !important;
    box-shadow: none !important;
    overflow: hidden;
    width: 100%;
}

.edit-section-page .edit-robot {
    position: fixed;
    bottom: 5%; 
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    animation: fadeIn 0.5s ease-in;
}

.edit-section-page .edit-robot button.edit-help{
    width: 60px;
    height: 60px;
    font-size: 2rem;
    border-radius: 50%;
    background: linear-gradient(145deg, #ffeeba, #e7e7e7);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2), inset 0 -3px 5px rgba(255, 255, 255, 0.5);
    border: none;
    color: var(--white-color);
    transition: all 0.2s ease-in-out;
}

.edit-section-page .edit-robot button.edit-help:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(255, 193, 7, 0.1), inset 0 -5px 10px rgba(255, 255, 255, 0.6);
}

.edit-section-page .edit-robot button.edit-help:active {
    transform: scale(0.95);
    box-shadow: 0 3px 8px rgba(255, 193, 7, 0.3), inset 0 -2px 5px rgba(255, 255, 255, 0.3);
}

.edit-section-page .edit-chat-modal {
    position: fixed;
    bottom: 14%;
    right: 20px;
    width: 280px;
    height: 400px;
    background-color: var(--white-color);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    z-index: 1000;
    animation: fadeIn 0.3s ease;
}

.edit-section-page .edit-chat-modal.active{
    display: flex;
}

.edit-section-page .edit-chat-modal-header{
    background-color: var(--theme-color);
    color: var(--white-color);
    padding: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    border-radius: 10px 10px 0 0;
}

.edit-section-page .edit-chat-modal-header .edit-close-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: var(--white-color);
    cursor: pointer
}

.edit-section-page .edit-chat-modal-body{
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.8rem;
    line-height: 1.5;
}

.edit-section-page .edit-chat-modal-body p {
    opacity: 0.6;
}

.edit-section-page .edit-chat-modal .edit-chat-modal-body .chat-message{
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 10px;
}

.edit-section-page .edit-chat-modal .edit-chat-modal-body .chat-message.user{
    align-self: flex-end;
    background-color: var(--theme-color);
    color: var(--white-color);
    border-top-right-radius: 0;
    font-size: 0.8rem;
}

.edit-section-page .edit-chat-modal .edit-chat-modal-body .edit-chat-message.bot{
    align-self: flex-start;
    background-color: var(--gray6-color);
    color: var(--second-color);
    border-top-left-radius: 0;
    font-size: 0.8rem;
}

.edit-section-page .edit-chat-modal-footer{
    padding: 10px;
    border-top: 1px solid var(--gray5-color);
    display: flex;
    gap: 2px;
}

.edit-section-page .edit-chat-modal-footer input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--gray4-color);
    border-radius: 5px;
    font-size: 0.8rem;
    opacity: 75%;
}

.edit-section-page .edit-chat-modal-footer button{
    padding: 6px 10px;
    border: none;
    background-color: var(--theme-color);
    color: var(--white-color);
    border-radius: 5px;
    font-size: 0.8rem;
    margin-left: 1%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.edit-section-page .edit-chat-modal-footer button:hover{
    transform: scale(1.05);
}

@media (max-width: 426px) {
    .edit-section-page .edit-fixed-header {
        height: 50px;
        padding: 0 20px;
    }
    
    .edit-section-page .edit-fixed-header button {
        padding: 8px 18px;
        font-size: 0.7rem;
    }
    
    .edit-section-page .container .edit-image-upload-area {
        height: 200px;
        margin-top: 15%;
    }
    
    .edit-section-page .container .edit-image-upload-area .edit-image-upload-label {
        font-size: 0.9rem;
    }
    
    .edit-section-page .container .edit-image-upload-area .edit-uploaded-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .edit-section-page .container form .edit-section-title {
        font-size: 0.9rem !important;
    }
    
    .edit-section-page .container form .edit-content-toolbar {
        gap: 8px;
    }
    
    .edit-section-page .container form .edit-content-toolbar button {
        font-size: 0.9rem;
        padding: 4px 8px;
    }
    
    .edit-section-page .container form .edit-section-content {
        margin-top: 4%;
        font-size: 0.9rem !important;
    }

    .edit-section-page .edit-robot img {
        width: 110px;
    }
    
    .edit-section-page .edit-robot button.edit-help{
        width: 40px;
        height: 40px;
    }
    
    .edit-section-page .edit-chat-modal {
        width: 180px;
        height: 300px;
    }
    
    .edit-section-page .edit-chat-modal .edit-chat-modal-header .edit-close-btn {
        font-size: 0.9rem;
    }
    
    .edit-section-page .edit-chat-modal .edit-chat-modal-body p {
        opacity: 0.6;
        font-size: 0.5rem;
    }
    
    .edit-section-page .edit-chat-modal .edit-chat-modal-body .edit-chat-message,
    .edit-section-page .edit-chat-modal .edit-chat-modal-footer input,
    .edit-section-page .edit-chat-modal .edit-chat-modal-footer button {
        font-size: 0.6rem !important;
    }
    
    .edit-section-page .edit-chat-modal .edit-chat-modal-footer {
        gap: 4px;
    }
}

@media (max-width: 769px) {
    .edit-section-page .edit-fixed-header {
        height: 50px;
    }
    
    .edit-section-page .edit-fixed-header button {
        padding: 10px 18px;
        font-size: 0.7rem;
    }
    
    .edit-section-page .container .edit-image-upload-area {
        height: 250px;
        margin-top: 10%;
    }
    
    .edit-section-page .container .edit-image-upload-area .edit-upload-label {
        font-size: 1rem;
    }

    .edit-section-page .container form .edit-section-title {
        font-size: 0.9rem !important;
    }
    
    .edit-section-page .container form .edit-content-toolbar {
        gap: 15px;
    }
    
    .edit-section-page .container form .edit-content-toolbar button {
        font-size: 1rem;
    }
    
    .edit-section-page .container form .edit-section-content {
        margin-top: 4%;
        font-size: 0.9rem !important;
    }

    .edit-section-page .edit-robot img {
        width: 150px;
    }
    
    .edit-section-page .edit-robot button.edit-help{
        width: 50px;
        height: 50px;
    }
    
    .edit-section-page .edit-chat-modal {
        width: 200px;
        height: 300px;
    }
    
    .edit-section-page .edit-chat-modal .edit-chat-modal-header .edit-close-btn {
        font-size: 0.9rem;
    }
    
    .edit-section-page .edit-chat-modal .edit-chat-modal-body p {
        opacity: 0.6;
        font-size: 0.7rem;
    }
    
    .edit-section-page .edit-chat-modal .edit-chat-body .edit-chat-message,
    .edit-section-page .edit-chat-modal .edit-chat-modal-footer input,
    .edit-section-page .edit-chat-modal .edit-chat-modal-footer button {
        font-size: 0.7rem !important;
    }
    
    .edit-section-page .edit-chat-modal .edit-chat-modal-footer {
        gap: 4px;
    }
}