.popular-books {
    padding: 8px;
}

.popular-books-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.popular-left-arrow,
.popular-right-arrow {
    font-size: 2rem;
    cursor: pointer;
    color: var(--second-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.popular-left-arrow {
    left: -50px;
}

.popular-right-arrow {
    right: -50px;
}

.book-list-popular{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.book-list-popular .populerBook {
    width: 150px;
    color: var(--second-color);
    transition: all 0.3s ease-in-out;
}

.book-list-popular .populerBook img:hover {
    border-radius: 4px;
}

.book-list-popular .populerBook:hover {
    transform: scale(1.05);
}


.book-list-popular::-webkit-scrollbar {
    display: none;
}

.book-list-popular .popular-book-writer {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.book-list-popular .popular-book-writer p{
    font-size: 0.8rem;
    opacity: 0.9;
    margin: 0;
}

@media (max-width: 768px) {
    .popular-left-arrow, .popular-right-arrow {
        font-size: 1.5rem;
    }
}