.popular-books {
    padding: 8px;
}

.popular-books-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
}

.popular-left-arrow,
.popular-right-arrow {
    font-size: 2rem;
    cursor: pointer;
    color: var(--second-color);
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.popular-left-arrow {
    left: 0;
    margin-right: 10px;
}

.popular-right-arrow {
    right: 0;
    margin-left: 10px;
}

.book-list-popular{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.book-list-popular::-webkit-scrollbar {
    display: none;
}

.populerBook {
    width: 150px;
    min-width: 150px;
    color: var(--second-color);
}

@media (max-width: 768px) {
    .popular-left-arrow, .popular-right-arrow {
        font-size: 1.5rem;
    }
}