.popular-books {
    padding: 8px;
    color: var(--second-color);
}

.popular-books .container .popular-books-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.popular-books .container .popular-books-wrapper .book-list-popular{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    gap: 40px;
}

.popular-books .container .popular-books-wrapper .book-list-popular .populerBook {
    color: var(--second-color);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    padding: 8px 0;
}

.popular-books .container .popular-books-wrapper .book-list-popular .populerBook:hover {
    transform: scale(1.05);
}

.popular-books .container .popular-books-wrapper .book-list-popular .populerBook .popular-book-cover {
    position: relative; 
}

.popular-books .container .popular-books-wrapper .book-list-popular .populerBook .popular-book-cover img {
    border-radius: 8px 8px 0 0;
}

.popular-books .container .popular-books-wrapper .book-list-popular .populerBook .popular-book-cover .headphone-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 1);
    padding: 5px;
    border-radius: 50%;
}

.popular-books .container .popular-books-wrapper .book-list-popular .populerBook .popular-book-cover img:first-child {
    width: 140px;
    height: 230px;
    object-fit: cover;
}

.popular-books .container .popular-books-wrapper .book-list-popular::-webkit-scrollbar {
    display: none;
}

.popular-books .container .popular-books-wrapper .book-list-popular .populerBook .popular-book-content .popular-book-title h6 {
    max-width: 140px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    white-space: normal;
    font-size: 0.9rem;
}

.popular-books .container .popular-books-wrapper .book-list-popular .popular-book-writer {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.book-list-popular .popular-book-writer span{
    font-size: 0.8rem;
    opacity: 0.9;
    margin: 0;
}

@media (max-width: 1025px) {
    .left-arrow {
        left: -40px !important;
    }

    .right-arrow {
        right: -40px !important;
    }
}

@media (max-width: 768px) {
    .left-arrow,
    .right-arrow {
        display: none;
    }

    .popular-books .container .popular-books-wrapper .book-list-popular {
        gap: 20px;
    }

    .popular-books .container .popular-books-wrapper .book-list-popular .populerBook .popular-book-cover img:first-child {
        width: 120px;
        height: 200px;
    }
}