.home-page{
    min-height: 100vh;
    color: var(--black-color);
    display: flex;
    flex-direction: column;
}

.home-page .container {
    flex: 1;
}

.search-section {
    position: relative;
    background-image: url("/images/bg4.jpg");
    background-size: cover;
    background-position: center;
    height: 385px;
}

.search-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-title {
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--white-color);
}
  
.search-subtitle {
    font-size: 0.9rem;
    opacity: 50%;
    color: var(--white-color);
}
  
.search-bar {
    position: relative;
    max-width: 600px;
    width: 100%;
}
  
.input-group {
    display: flex;
    align-items: start;
    position: relative;
}
  
.search-input {
    width: 100%;
    border: 1px solid var(--input-border) !important;
    border-radius: 0.8rem 0 0 0.8rem!important;
    border-right: none !important;
    opacity: 75%;
    padding: 0.75rem !important;
    background: transparent !important;
    color: var(--white-color) !important;
}

.search-icon {
    background-color: var(--bg-color) !important;
    border: 1px solid var(--bg-color) !important;
    border-left: none !important;
    border-radius: 0 0.8rem 0.8rem 0 !important;
    opacity: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-color) !important;
    padding: 0.35rem 1.25rem !important;
    transition: all 0.2s ease-in-out;
}
  
.search-icon i {
    font-size: 1.2rem;
}

.search-icon:hover {
    background-color: var(--white-color) !important;
}

.search-results {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    z-index: 10;
    background: var(--white-color) !important;
    border: 1px solid var(--gray-color) !important;
    border-radius: 8px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    padding: 5px 0;
}
  
.search-book-item,
.search-author-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid var(--gray4-color);
    cursor: pointer;
}
  
.search-book-item:last-child,
.search-author-item:last-child {
    border-bottom: none;
}

.search-book-item:hover,
.search-author-item:hover {
  background-color: var(--bg-color);
}
  
.search-book-cover,
.search-author-profile {
    border-radius: 4px;
    object-fit: cover;
}
  
.search-book-info,
.search-author-info {
    flex-grow: 1;
    color: var(--black-color);
    opacity: 0.7;
}
  
.search-book-title,
.search-author-name {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 4px;
}
  
.search-book-author {
    font-size: 0.85rem;
    color: var(--black-color);
    opacity: 0.7;
}