.navbar-ef{
    color: var(--theme-color);
}

.logout{
    border-bottom: none !important;
}

.custom-navbar{
    border-bottom: 1px solid #f0f0f0;
}

.navbar-dropdown .dropdown-item:focus {
    background: none;
}