.continue-read-row {
    background-color: var(--continue-read-bg);
    color: var(--black-color);
    padding: 5% 1%;
}

.continue-read-row .container .continue-read .book-cover {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.continue-read-row .container .continue-read .book-cover span {
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.continue-read-row .container .continue-read .book-cover img{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 0.3s ease-in-out;
}

.continue-read-row .container .continue-read .book-cover img:hover {
    transform: scale(1.05);
}

.continue-read-row .container .continue-read .book-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    margin-top: 3%;
}

.continue-read-row .container .continue-read .book-content .book-content-up {
    display: flex;
    flex-direction: column;
}

.continue-read-row .container .continue-read .book-content .book-content-up .writer-info {
    gap: 5px;
    color: var(--text-muted);
    font-size: 0.95rem;
    opacity: 0.9;
}

.continue-read-row .container .continue-read .book-content .book-content-up .bookName h4,
.continue-read-row .container .continue-read .book-content .book-content-up .writer-info span,
.continue-read-row .container .continue-read .book-content .book-content-up .writer-info img {
    transition: all 0.3s ease-in-out;
}

.continue-read-row .container .continue-read .book-content .book-content-up .bookName h4:hover,
.continue-read-row .container .continue-read .book-content .book-content-up .writer-info img:hover,
.continue-read-row .container .continue-read .book-content .book-content-up .writer-info span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.continue-read-row .container .continue-read .book-content .book-content-up .writer-info img:hover {
    transform: scale(1.1);
    border: 2px solid var(--black-color);
}

.continue-read-row .container .continue-read .book-content .book-content-up .book-info {
    word-spacing: 3px;
    line-height: 20px;
    opacity: 0.75;
    font-size: 0.9rem;
}

.continue-read-row .container .continue-read .book-content .book-content-down {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.continue-read-row .container .continue-read .book-content-down .interaction,
.continue-read-row .container .continue-read .book-content-down .interaction p {
    color: var(--text-muted);
    font-size: 0.9rem;
}

.continue-read-row .container .continue-read .book-content-down .continue-read-button button {
    font-size: 0.9rem;
    background-color: var(--black-color);
    border: 1px solid var(--black-color);
    color: var(--white-color);
    padding: 8px 24px;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px;
    transition: all 0.3s ease-in-out;
}

.continue-read-row .container .continue-read .book-content-down .continue-read-button button:hover {
    transform: scale(1.05);
}

@media (max-width: 576px) {
    .continue-read-row .container .continue-read {
        margin-top: 5%;
    }
    
    .continue-read-row .container .continue-read-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .continue-read-row .container .continue-read .book-content,
    .continue-read-row .container .continue-read .book-content .book-content-up,
    .continue-read-row .container .continue-read .book-content .book-content-up .book-info {
        align-items: center;
        text-align: center;
    }

    .continue-read-row .container .continue-read .book-content .book-content-down {
        gap: 2px;
    }

    .continue-read-row .container .continue-read .book-content-down .interaction {
        margin-top: 5%;
    }
}