.add-voice-new-section-btn{
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
    border-radius: 6px;
    padding: 6px;
    transition: all 0.3s;
}

.add-voice-new-section-btn:hover{
    border: 1px solid var(--theme-color);
    color: var(--bg-color);
    background-color: var(--theme-color);
    border-radius: 6px;
    padding: 6px;
}

.voice-section-row{
    border-bottom: 1px solid gainsboro;
    padding: 24px 12px;
    position: relative;
}

.calculateTotal {
    font-size: 0.8rem;
    opacity: 75%;
}

.section-duration {
    font-size: 0.8rem;
    opacity: 50%;
    font-weight: 500;
    color: lightslategray;
}

.voice-istatistic p{
    margin: 0;
    color: lightslategray;
}

.voice-istatistic {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.voice-section-row:hover .voice-istatistic {
    visibility: visible;
    opacity: 1; 
    transition-delay: 0s;
}

.modal-section-title {
    border: none !important;
    font-weight: 600;
    color: #3e4444 !important;
    font-size: 1rem;
    border-radius: 0 !important;
}

.modal-section-title::placeholder {
    color: #3e4444 !important;
}

.modal-section-title:focus {
    outline: none;
    box-shadow: none;
}

.add-voice-file label, .add-text-file label, .add-voice-image label{
    font-size: 0.8rem;
    opacity: 75%;
    color: #000;
}

.add-voice-file input, .add-text-file input, .image-modal {
    font-size: 0.8rem;
}

.audio-player {
    margin-top: 10px;
}

.audio-player audio {
    width: 100%;
    height: 40px;
}

.modal-file-buttons {
    display: flex;
    justify-content: start;
}

.modal-file-buttons button {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 8px;
    margin: 0 3px;
    border: 1px solid #ddd;
    color: #3e4444;
    background-color: #fff !important;
    border-radius: 3px;
}

.modal-file-buttons button:hover{
    border: 1px solid #ddd;
    color: rgb(104, 104, 104);
    background-color: #ebebeb !important;
}

.btn-modal-save {
    background: none;
    color: #3e4444;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    border: 1px solid #ddd;
}

.btn-modal-save:hover {
    background-color: #f5f5f5;
    color: #3e4444;
    border: 1px solid #ddd;
}

.btn-modal-publish {
    background-color: #e6e6e6;
    color: #3e4444;
    padding: 6px 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    border: 1px solid #ddd;
}

.btn-modal-publish:hover {
    background-color: #dfdfdf;
    color: #3e4444;
    border: 1px solid #ddd;
}

.custom-modal-header .btn-close {
    font-size: 0.6rem;
    width: 1rem;
    height: 1rem;
}

.custom-modal-header .btn-close:hover {
    outline: none;
    box-shadow: none;
}