.book-details-page {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.book-details-page .container {
    flex: 1;
}

.book-details-page input::placeholder {
    color: var(--black-color) !important;
}

.book-details-up {
    display: flex;
    border-radius: 10px;
    max-width: 1200px;
    margin: 5% 0;
    gap: 8px;
}

.book-details-up .book-cover {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-details-up .book-cover img {
    width: 150px;
    height: 220px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.book-details-up .book-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}

.book-details-up .book-header .book-name {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: default;
}

.book-details-up .book-header .book-name p {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.book-details-up .book-header .book-name .category {
    font-size: 0.75rem;
    color: var(--gray3-color);
    font-weight: 600;
    margin-top: 2%;
}

.book-details-up .book-header .book-name .buttons {
    display: flex;
    align-items: flex-end;
    padding: 0;
    gap: 8px;
    transition: all 0.5s ease-in;
}

.book-details-up .book-header .book-name .buttons button:hover {
    transform: scale(1.01);
    text-shadow: 1px 1px 2px var(--gray5-color);
}

.book-details-up .book-header .book-name .buttons .btn-book {
    background: transparent;
    color: var(--black-color);
    border: none;
    font-size: 0.9rem;
}

.book-details-up .book-header .book-name .buttons .bi.bi-book-fill {
    color: var(--theme-color);
}

.book-details-up .book-header .book-name .buttons .bi.bi-bookmark-check-fill {
    color: var(--red-color);
}

.read-list {
    position: relative;
    margin: 3%;
    padding: 18px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray8-color);
    border-radius: 8px;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    gap: 15px;
    width: 150px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.add-read-list-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3%;
}

.add-read-list-button button {
    background-color: var(--gray7-color);
    color: var(--black-color);
    border: 1px solid var(--gray5-color);
    font-size: 0.8rem;
    border: 1px solid var(--gray5-color);
    padding: 6px 12px;
    transition: all 0.3s ease-in-out;
}

.add-read-list-button button:hover {
    transform: scale(1.03);
    background-color: var(--gray7-color);
    color: var(--black-color);
    border: 1px solid var(--gray5-color);
}

.read-list img {
    object-fit: cover;
    width: 120px;
    height: 180px;
}

.read-list span {
    font-size: 0.85rem !important;
    text-align: center;
    opacity: 0.9;
}

.read-list i {
    color: var(--red-color);
    font-size: 1.4rem !important;
}

.read-list:hover {
    transform: scale(1.05);
}

.read-list:focus {
    border: 1px solid var(--black-color);
}

.modal-form .form-label {
    font-size: 1rem !important;
    margin-bottom: 3%;
    color: var(--black-color);
    font-weight: bold;
}

.modal-form .form-control {
    color: var(--black-color) !important;
}

.modal-form .form-control::placeholder {
    color: var(--black-color) !important;
}

.modal-form .form-control:focus {
    border: 1px solid var(--black-color);
}

.new-list-form .modal-footer {
    border-top: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.new-list-form .modal-footer button {
    font-size: 0.8rem !important;
    color: var(--white-color) !important;
    background-color: var(--theme-color) !important;
    border-radius: 25px;
    padding: 6px 16px;
    margin-bottom: 3%;
}

.book-details-up .book-header .book-info {
    gap: 15px;
}

.book-details-up .book-header .book-info .author-info img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: calc(50%);
    transition: all 0.2s ease-in-out;
}

.book-details-up .book-header .book-info .author-info img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.book-details-up .book-header .book-info .author-info p {
    margin: 0;
    opacity: 0.75;
    font-size: 0.9rem;
}

.book-details-up .book-header .book-info .author-info p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.book-details-up .book-header .book-info .statistics {
    font-size: 0.95rem;
    color: var(--black-color);
    cursor: default;
    margin-top: 5px;
}

.book-details-up .book-header .book-info .statistics p {
    margin: 0;
}

.book-details-up .book-header .book-info .read-button button {
    background-color: var(--black-color);
    border: 1px solid  var(--black-color);
    color: var(--white-color);
    width: 210px;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 25px;
    padding: 6px 12px;
    transition: all 0.3s ease-in-out;
}

.book-details-up .book-header .book-info .read-button button:hover {
    transform: scale(1.01);
    opacity: 0.9;
}

.book-details-down .book-summary {
    display: flex;
    flex-direction: column;
    margin: 0 3%;
}

.book-details-down .book-summary p:last-child {
    text-align: justify;
    color: var(--black-color);
    font-size: 0.95rem;
    opacity: 0.9;
}

.book-details-down {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.book-details-down .book-tags {
    display: flex;
    flex-direction: column;
    margin: 0 3%;
}

.book-details-down .book-tags .tags-container {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.book-details-down .book-tags .tags-container .tag {
    background-color: var(--gray8-color);
    color: var(--black-color);
    padding: 8px 16px;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-details-down .book-tags .tags-container .tag:hover {
    background-color: var(--gray4-color);
    color: var(--black-color);
}

.book-details-down .book-info-details {
    margin: 0 3%;
    font-size: 0.9rem;
    opacity: 0.8;
}

.book-details-down .book-info-details .info-item {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.book-details-down .book-tabs .tabs {
    display: flex;
    justify-content: space-around;
    margin: 0 3%;
}
  
.book-details-down .book-tabs .tabs .tab-button {
    flex: 1;
    padding: 10px;
    background-color: var(--tabs-bg-color);
    border: none;
    border-bottom: 3px solid transparent;
    font-size: 0.95rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: center;
    gap: 8px;
    color: var(--black-color);
}

.book-details-down .book-tabs .tabs .tab-button:hover {
    font-weight: 600;
}

.book-details-down .book-tabs .tabs .tab-button i.bi.bi-list-ul::before{
    font-size: 1.2rem;
}
  
.book-details-down .book-tabs .tabs .tab-button.active {
    border-bottom: 3px solid var(--theme-color); 
    color: var(--theme-color);
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.book-details-down .book-tabs .tab-content {
    margin: 1% 3%;
}
  
.book-details-down .book-tabs .tab-content .tab-pane {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.book-details-down .book-tabs .tab-content .tab-pane.active {
    opacity: 1;
    transform: translateY(0);
}
  
.book-details-down .book-tabs .tab-pane h3 {
    margin-bottom: 10px;
}
  
.book-details-down .book-tabs .tab-pane p {
    font-size: 14px;
    line-height: 1.5;
}
  
#sections {
    display: block;
    opacity: 1;
}
 
.book-details-down .book-tabs .tab-button:focus {
    outline: none;
}

.book-details-down .book-tabs .tab-content .section-item {
    padding: 12px;
    border-bottom: 1px solid var(--gray8-color);
    font-size: 0.95rem;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.book-details-down .book-tabs .tab-content .section-item:hover {
    transform: scale(1.01);
    cursor: pointer;
    font-weight: 600;
} 

.book-details-down .book-tabs .tab-content .comment-item {
    padding: 6px 12px;
    border-bottom: 1px solid var(--gray5-color);
}

.book-details-down .book-tabs .tab-content .comment-item img {
    width: 35px;
    height: 35px;
    border-radius: calc(50%);
    object-fit: cover;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.book-details-down .book-tabs .tab-content .comment-item img:hover {
    transform: scale(1.1);
}

.book-details-down .book-tabs .tab-content .comment-item .left .user-name {
    font-size: 0.9rem;
    cursor: pointer;
}

.book-details-down .book-tabs .tab-content .comment-item .left .user-name:hover {
    text-decoration: underline;
}

.book-details-down .book-tabs .tab-content .comment-item .left .comment-text {
    opacity: 0.85;
    cursor: default;
}

.book-details-down .book-tabs .tab-content .comment-input-container {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.book-details-down .book-tabs .tab-content .comment-input {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--gray4-color);
    border-radius: 5px;
    font-size: 0.9rem;
    background: transparent;
    color: var(--black-color) !important;
}

.book-details-down .book-tabs .tab-content .comment-submit-button {
    background-color: var(--theme-color);
    color: var(--white-color);
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-details-down .book-tabs .tab-content .comment-submit-button:hover {
    transform: scale(1.02);
}

@media (max-width: 1024px) and (min-width: 768px) {
    .book-details-up {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .book-details-up .book-cover img {
        width: 130px;
        height: 200px;
    }

    .book-details-up .book-header {
        text-align: center;
    }

    .book-details-up .book-header .book-name {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .book-details-up .book-header .book-name p {
        font-size: 1.2rem;
    }

    .book-details-up .book-header .book-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .book-details-down .book-summary p:first-child {
        text-align: center;
    }

    .book-details-down .book-summary p:last-child {
        font-size: 0.85rem;
        text-align: center;
    }

    .book-details-down .book-tags p {
        text-align: center;
    }

    .book-details-down .book-tags .tags-container {
        justify-content: center;
        align-items: center;
    }

    .book-details-down .book-info-details {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .book-details-page {
        padding: 0 16px;
    }

    .book-details-up {
        flex-direction: column;
        gap: 12px;
    }

    .book-details-up .book-cover img {
        width: 100px;
        height: 150px;
    }

    .book-details-up .book-header {
        text-align: center;
    }

    .book-details-up .book-header .book-name {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .book-details-up .book-header .book-name p {
        font-size: 1.2rem;
    }

    .book-details-up .book-header .book-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .book-details-down .book-summary p:first-child {
        text-align: center;
    }

    .book-details-down .book-summary p:last-child {
        font-size: 0.8rem;
        line-height: 1.4;
        text-align: center;
    }

    .book-details-down .book-tags p {
        text-align: center;
    }

    .book-details-down .book-tags .tags-container {
        justify-content: center;
        align-items: center;
    }

    .book-details-down .book-info-details {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .book-details-down .book-tabs .tabs {
        flex-direction: column;
    }

    .book-details-down .book-tabs .tabs .tab-button {
        font-size: 0.8rem;
        padding: 8px;
    }

    .book-details-down .book-tabs .tab-content .comment-input-container {
        flex-direction: column;
        gap: 12px;
    }

    .book-details-down .book-tabs .tab-content .comment-input {
        width: 100%;
    }

    .book-details-down .book-tabs .tab-content .comment-submit-button {
        width: 100%;
    }
}