.new-message-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--black-color);
}

.new-message-page .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.new-message-container {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    background-color: var(--tabs-bg-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-message-description {
    font-size: 0.75rem;
    color: var(--text-muted);
    opacity: 0.8;
}

.new-message-container form .form-control {
    color: var(--black-color) !important;
}

.new-message-container form .form-control:focus {
    border: 1px solid var(--black-color);
}


.new-message-container form .form-control::placeholder {
    color: var(--black-color) !important;
}

.new-message-container .btn-new-message-send {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-message-container .btn-new-message-send button {
    text-decoration: none;
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color) !important;
    color: var(--white-color);
    padding: 8px 16px;
    width: 40%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.new-message-container .btn-new-message-send button:hover {
    transform: scale(1.03);
}

@media (max-width: 769px) {
    .new-message-page .container {
        margin-top: 8%;
    }

    .new-message-container {
        max-width: 550px;
    }
}

@media (max-width: 426px) {
    .new-message-page .container {
        margin-top: 10%;
    }

    .new-message-container {
        max-width: 350px;
    }
}