.new-relases {
    padding: 8px;
}

.new-books {
    display: flex;
    align-items: center;
    position: relative;
}

.left-arrow, .right-arrow {
    font-size: 2rem;
    cursor: pointer;
    color: var(--second-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.left-arrow {
    left: -50px;
}

.right-arrow {
    right: -50px;
}

.book-list-newrelases {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.book-list-newrelases::-webkit-scrollbar {
    display: none;
}

.book1 {
    width: 150px;
    color: var(--second-color);
}

@media (max-width: 768px) {
    .left-arrow, .right-arrow {
        font-size: 1.5rem;
    }
}