.new-relases {
    padding: 8px;
}

.new-books {
    display: flex;
    align-items: center;
    position: relative;
}

.left-arrow, .right-arrow {
    font-size: 2rem;
    cursor: pointer;
    color: var(--second-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.left-arrow {
    left: -50px;
    margin-right: 10px;
}

.right-arrow {
    right: -50px;
    margin-left: 10px;
}

.book-list-newrelases {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.book-list-newrelases .book1 {
    width: 150px;
    color: var(--second-color);
    transition: all 0.3s ease-in-out;
}

.book-list-newrelases .book1 img:hover {
    border-radius: 4px;
}

.book-list-newrelases .book1:hover {
    transform: scale(1.05);
}

.book-list-newrelases::-webkit-scrollbar {
    display: none;
}

.book-list-newrelases .new-book-writer {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.book-list-newrelases .new-book-writer p{
    font-size: 0.8rem;
    opacity: 0.9;
    margin: 0;
}

@media (max-width: 768px) {
    .left-arrow, .right-arrow {
        font-size: 1.5rem;
    }
}