.notifications-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--black-color);
}

.notifications-page .container {
    flex: 1;
}

.notification {
    border-bottom: 1px solid var(--gray5-color);
    padding: 24px 12px;
}

.notification .notification-image:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.notification-title p{
    font-size: 0.9rem;
}

.notification-subtitle{
    font-size: 0.8rem;
}

.delete-button i{
    color: var(--black-color);
    font-size: 1rem;
}

.delete-button i::before{
    display: flex;
    justify-content: end;
}

.delete-button i:hover {
    color: var(--red-color);
    cursor: pointer;
}

.notification-time{
    font-size: 0.8rem;
}

.notification-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notification-content .notification-title b:hover {
    cursor: pointer;
    text-decoration: underline;
}

.centered-title {
    margin-top: auto;
    text-align: center;
}

.pagination button{
    background: none;
    border: none;
}

.pagination i{
    font-size: 28px;
    color: var(--black-color);
}

.pagination button:disabled {
    color: var(--gray-color);
    opacity: 0.6;
    cursor: default;
}

@media (max-width: 770px) {
    .notification p, div{
        font-size: 12px !important;
    }
}
