.selection-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--black-color);
}

.selection-page .container {
    flex: 1;
}

.selection-page .selection-navbar {
    padding: 2% 0;
}

.selection-page .selection-navbar .logo{
    width: 10%;
}

.selection-page .title p {
    font-size: 0.8rem;
    opacity: 0.5;
}

.selection-page .category-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.selection-page .category-list .category{
    border: 1px solid var(--gray-color);
    border-radius: 8px;
    background-color: var(--bg-color) !important;
}

.selection-page .category-list .card-img{
    border-radius: 8px 8px 0px 0px;
    width: 200px;
    height: 260px;
    object-fit: cover;
}

.selection-page .category-list .card-body h5 {
    color: var(--black-color);
}

.selection-page .category-list .border-red {
    border: 2px solid var(--theme-color) !important;
}
  
.selection-page .category-list .shadow {
    box-shadow: rgba(255, 255, 255, 0.1) 8px 8px 20px;
}

.selection-page .btn-category-register {
    width: 30%;
    background-color: var(--theme-color) !important;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--theme-color);
}

.selection-page .btn-category-register:hover{
    background-color: var(--theme-color) !important;
    opacity: 1;
    transform: scale(1.05);
    border: 1px solid var(--theme-color);
}