.follow-others {
    width: 350px;
    height: 350px;
    border: 1px solid var(--gray2-color);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.follow-others h5 {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 4% 5%;
}

.follow-others .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    padding: 4% 5%;
    cursor: pointer;
    flex-shrink: 0;
}

.follow-others .user-info {
    display: flex;
    justify-content: center;
}

.follow-others .user .user-info span {
    font-size: 0.9rem;
}

.follow-others .user .user-info span:nth-child(2) {
   opacity: 0.6;
}

.follow-others .user button{
    background: var(--second-color);
    border: 1px solid var(--white-color);
    font-size: 0.9rem;
    padding: 4px 16px;
    border-radius: 30px;
}

.follow-others .user button:hover{
    opacity: 0.9;
}

.follow-others .user:hover {
    background-color: var(--gray2-color);
}

@media (max-width: 600px) {
    .follow-others {
        display: none;
    }
}

/* 📊 Tablet Görünüm (600px - 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    .follow-others {
        max-width: 1000px;
        width: 100%;
    }

    .follow-others h5 {
        font-size: 1.2rem;
    }

    .follow-others .user {
        padding: 6px 8px;
    }

    .follow-others .user-info span {
        font-size: 0.85rem;
    }

    .follow-others .user button {
        font-size: 0.85rem;
        padding: 5px 12px;
    }
}