.audio-book-card {
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
    background-color: var(--gray7-color);
}

.audio-book-left-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1% 0;
}

.audio-book-left-right .audio-book-name {
    font-size: 1rem;
}

.audio-book-left-right .audio-book-date {
    color: var(--black-color);
    font-size: 0.75rem;
    opacity: 0.3;
}

.audio-book-left-right .audio-book-statistics {
    display: flex;
    gap: 1px;
    width: 100%;
    font-size: 0.75rem;
    color: var(--black-color);
    opacity: 0.75;
}

.audio-book-left-right .audio-book-total-time {
    background-color: var(--black-color);
    border: none;
    padding: 4px 10px;
    cursor: default;
    font-size: 0.75rem;
    opacity: 1;
    border-radius: 3px !important;
    transition: all 0.2s ease-in;
    color: var(--white-color);
}

.audio-book-left-right .audio-book-total-time:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.audio-book-right .dropdown-toggle {
    background: none;
    border: none;
    color: var(--black-color);
    padding: 1% 0;
    font-size: 1.2rem;
}

.audio-book-right .no-toggle:focus {
    background: none;
    border: none;
    color: var(--black-color);
}

.audio-book-right div.dropdown-menu.show {
    font-size: 0.95rem;
    padding-bottom: 0;
}

.audio-book-right a.dropdown-item {
    opacity: 0.9;
    display: flex;
    padding: 8px 14px;
    font-size: 0.9rem;
}

.audio-book-right a.dropdown-item:nth-child(1):hover,
.audio-book-right a.dropdown-item:nth-child(3):hover {
    background-color: var(--gray2-color);
    color: var(--black-color);
}

.audio-book-right a.dropdown-item:nth-child(2):hover {
    background-color: var(--red-color);
    color: var(--white-color);
}

.audio-book-right a.dropdown-item:active {
    opacity: 0.9;
    transform: scale(0.95);
}

.audio-book-delete-modal .modal-content {
    border-radius: 5px;
}

.audio-book-delete-modal .modal-header .btn-close {
    font-size: 0.6rem;
}

.audio-book-delete-modal .modal-title {
    color: var(--red-color);
    font-size: 1rem;
    font-weight: 600;
}

.audio-book-delete-modal .modal-body {
    color: var(--black-color);
    font-size: 0.85rem !important;
    opacity: 0.75 !important;
}

.audio-book-delete-modal .modal-footer button {
    transition: all 0.3s ease-in-out;
    padding: 6px 20px;
}

.audio-book-delete-modal .modal-footer button:hover {
    transform: scale(1.1);
}

.audio-book-delete-modal .modal-footer button:nth-child(1) {
    font-size: 0.8rem;
    background: none;
    border: 1px solid var(--red-color);
    color: var(--red-color);
}

.audio-book-delete-modal .modal-footer button:nth-child(1):hover {
    background: none;
    border: 1px solid var(--red-color);
    color: var(--red-color);
    opacity: 1;
}

.audio-book-delete-modal .modal-footer button:nth-child(2) {
    font-size: 0.8rem;
    background-color: var(--red-color);
    border: 1px solid var(--red-color);
    color: var(--white-color);
    padding: 6px 24px;
}

.audio-book-delete-modal .modal-footer button:nth-child(2):hover {
    background-color: var(--red-color);
    border: 1px solid var(--red-color);
    color: var(--white-color);
    opacity: 1
}

@media (max-width: 426px) {
    .audio-book-card {
        flex-direction: row;
    }

    .audio-book-left-right {
        padding: 0 !important;
        display: flex;
    }

    .audio-book-left-right .audio-book-name {
        font-size: 0.85rem !important;
    }

    .audio-book-left-right .audio-book-date,
    .audio-book-left-right .audio-book-statistics {
        font-size: 0.7rem !important;
    }

    .audio-book-left-right .audio-book-total-time {
        width: 100%;
        display: flex;
        padding: 4px 12px!important;
        font-size: 0.7rem !important;
    }

    .audio-book-right {
        display: flex;
        align-items: flex-start;
    }

    .audio-book-right .dropdown-toggle {
        font-size: 0.8rem !important;
    }

    .audio-book-right div.dropdown-menu.show {
        padding: 0 !important;
    }

    .audio-book-right a.dropdown-item {
        font-size: 0.7rem !important;
        padding: 8px !important;
    }

    .audio-book-delete-modal .modal-content {
        width: 90%;
        margin: auto;
    }

    .audio-book-delete-modal .modal-title {
        font-size: 0.9rem;
    }

    .audio-book-delete-modal .modal-body {
        font-size: 0.8rem;
    }

    .audio-book-delete-modal .modal-footer {
        flex-direction: column;
        align-items: center;
    }

    .audio-book-delete-modal .modal-footer button {
        width: 100%;
        margin-bottom: 5px;
    }
}

@media (max-width: 992px) {
    .audio-book-card {
        flex-direction: row;
    }

    .audio-book-left-right {
        padding: 0 !important;
        display: flex;
    }

    .audio-book-left-right .audio-book-name{
        font-size: 0.9rem !important;
    }

    .audio-book-left-right .audio-book-date,
    .audio-book-left-right .audio-book-statistics {
        font-size: 0.7rem !important;
    }

    .audio-book-left-right button {
        width: 100%;
        display: flex;
        padding: 4px 12px!important;
        font-size: 0.65rem !important;
    }

    .audio-book-right {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .audio-book-right .dropdown-toggle {
        font-size: 0.9rem !important;
    }

    .audio-book-right a.dropdown-item {
        font-size: 0.85rem !important;
        padding: 8px !important;
    }

    .audio-book-delete-modal .modal-content {
        width: 100%;
        margin: auto;
    }

    .audio-book-delete-modal .modal-title {
        font-size: 0.9rem !important;
    }

    .audio-book-delete-modal .modal-body {
        font-size: 0.8rem !important;
    }

    .audio-book-delete-modal .modal-footer {
        flex-direction: column;
        align-items: center;
    }

    .audio-book-delete-modal .modal-footer button {
        width: 100%;
        margin-bottom: 5px;
    }
}

@media (min-width: 993px) {
    .audio-book-card {
        padding: 2% 3%;
        max-width: 1200px;
        margin: auto;
    }

    .audio-book-left-right .audio-book-name{
        font-size: 1rem !important;
    }

    .audio-book-left-right .audio-book-date,
    .audio-book-left-right .audio-book-statistics {
        font-size: 0.7rem;
    }
}
