.confirm-page{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('/images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: var(--white-color);
}

.confirm-page .email-container {
    background-color: var(--container-bg-color);
    padding: 40px;
    border-radius: 10px;
    width: 35%;
    box-shadow: rgba(255, 255, 255, 0.1) 8px 8px 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.confirm-page .email-container p {
    font-size: 0.9rem;
}

.confirm-page .email-container form .btn-confirm{
    background-color: var(--theme-color) !important;
    color: var(--white-color) !important;
    border: 2px solid var(--theme-color) !important;
    font-size: 1rem;
    border-radius: 8px;
    text-align: center;
    width: 100%; 
    padding: 6px; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.confirm-page .email-container form .btn-confirm:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .confirm-page .email-container {
        width: 90%;
        padding: 30px;
    }
    
    .confirm-page .email-container h2 {
        font-size: 1.5rem;
    }

    .confirm-page .email-container p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .confirm-page .email-container {
        width: 95%;
        padding: 25px;
    }

    .confirm-page .email-container h2 {
        font-size: 1.3rem;
    }

    .confirm-page .email-container p {
        font-size: 0.85rem;
    }

    .confirm-page .email-container form .btn-confirm {
        font-size: 0.9rem;
        padding: 8px;
    }
}