.password-page {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('/images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
}

.password-page .password-container {
    background-color: var(--container-bg-color);
    padding: 40px;
    border-radius: 10px;
    width: 35%;
    box-shadow: rgba(255, 255, 255, 0.1) 8px 8px 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.password-page .password-container p {
    font-size: 0.9rem;
}

.password-page .password-container .btn-register {
    background-color: var(--theme-color) !important;
    color: var(--white-color) !important;
    border: 2px solid var(--theme-color) !important;
    font-size: 1rem;
    border-radius: 8px;
    text-align: center;
    width: 100%; 
    padding: 6px; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.password-page .password-container .btn-register:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .password-page .password-container {
        width: 90%;
        padding: 30px;
    }

    .password-page .password-container h2 {
        font-size: 1.5rem;
    }

    .password-page .password-container p {
        font-size: 0.9rem;
    }
}

@media (max-width: 1024px) {
    .password-page .password-container {
        width: 60%;
        padding: 30px;
    }

    .password-page .password-container h2 {
        font-size: 1.5rem;
    }

    .password-page .password-container p {
        font-size: 0.9rem;
    }

    .password-page .password-container .box input {
        width: 40px;
        height: 40px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .password-page .password-container {
        width: 95%;
        padding: 25px;
    }

    .password-page .password-container h2 {
        font-size: 1.3rem;
    }

    .password-page .password-container p {
        font-size: 0.85rem;
    }

    .password-page .password-container .btn-register {
        font-size: 0.9rem;
        padding: 8px;
    }
}
