.signup-page {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('/images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: var(--white-color);
}

.signup-page .signup-container {
    background-color: var(--container-bg-color);
    padding: 40px;
    border-radius: 10px;
    width: 30%;
    box-shadow: rgba(255, 255, 255, 0.1) 8px 8px 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-page .signup-container .have-account span{
    opacity: 0.65;
    font-size: 0.9rem;
}

.signup-page .signup-container .have-account .subtitle {
    color: var(--white-color);
    font-size: 0.9rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); 
}

.signup-page .signup-container form .custom-checkbox-label {
    cursor: pointer;
    text-decoration: underline;
}

.signup-page .signup-container form .btn-register {
    background-color: var(--theme-color) !important;
    color: var(--white-color) !important;
    border: 2px solid var(--theme-color) !important;
    font-size: 1rem;
    border-radius: 8px;
    text-align: center;
    width: 100%; 
    padding: 6px; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.signup-page .signup-container form .btn-register:hover {
    transform: scale(1.05);
}

/* resposive */
@media (max-width: 1024px) {
    .signup-page .signup-container {
        width: 50%;
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .signup-page .signup-container {
        width: 80%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .signup-page .signup-container {
        width: 90%;
        padding: 15px;
    }

    .signup-page .signup-container h1 {
        font-size: 1.5rem;
    }
}
