@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFPRODISPLAYREGULAR.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFPRODISPLAYBOLD.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --theme-color: #1c427a; /* Tema rengi */
  --second-color: #333;
  --gray-color: #cecece;
  --gray2-color: #eee;
  --gray3-color: #aaa;
  --gray4-color: #ccc;
  --text-muted: #212529BF;
  --bg-color: #f5f5f5;
  --white-color: #ffffff;
  --black-color: #000;
  --red-color: #ff0000;
  --green-color: #084208;
  --tag-color: #f8d9e0;
  --tag2-color: #d9534f;
  --container-bg-color: rgba(110, 100, 87, 0.9);
  --shadow-color: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --text-shadow: rgb(128, 128, 128) 1px 0 10px;
  --overlay-color: rgba(0, 0, 0, 0.2);
  --input-border: rgba(245, 245, 245, 0.5);
  --continue-read-bg: rgba(0, 0, 0, 0.062);
  font-family: 'SF Pro Display', sans-serif;;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: var(--bg-color);
  padding: 0;
  color: var(--second-color);
  height: 100%;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'SF Pro Display', sans-serif;
  line-height: 1.2;
  letter-spacing: -0.4px;
}

p {
  font-size: 1rem;
}

body .form-control{
  font-size: 0.9rem;
}

main{
  flex: 1;
}

.ef {
  color: var(--theme-color);
}

.form-control, 
.form-select {
  opacity: 0.75;
  cursor: text;
  background-color: transparent;
  color: var(--white-color) !important;
}

::placeholder {
  color: var(--white-color) !important;
  opacity: 0.5 !important;
  font-size: 0.9rem !important;
}

.form-control:focus {
  opacity: 1;
  outline: none;
  box-shadow: none;
  background: none;
  border: 1px solid var(--white-color);
}

.form-check-input {
  cursor: pointer;
  background-color: transparent;
  color: var(--white-color) !important;
}

.form-check-input:checked {
  background-color: var(--theme-color);
}

.form-check-label {
  font-size: 0.8rem !important;
}

.modal-content .modal-header .modal-title{
  font-size: 1rem;
}

.modal-content .modal-body {
  font-size: 0.9rem;
  opacity: 0.9;
}

.btn-close {
  font-size: 0.75rem;
}

.modal-content .modal-footer button {
  font-size: 0.9rem;
  background: none;
  color: var(--second-color);
  border: 1px solid var(--second-color);
  transition: all 0.3s ease-in-out;
}

.modal-content .modal-footer button:hover {
  background-color: var(--second-color);
  color: var(--white-color);
  opacity: 0.5;
}

.left-arrow, .right-arrow {
  font-size: 2rem;
  cursor: pointer;
  color: var(--second-color);
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 1;
}

.left-arrow {
  left: -50px;
  margin-right: 10px;
}

.right-arrow {
  right: -50px;
  margin-left: 10px;
}

.error-message-cover {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: var(--red-color);
  color: var(--white-color);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  max-width: 300px;
  text-align: center;
  transition: opacity 0.5s ease-out;
}