.about-us-page {
    color: var(--black-color);
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.about-us-content {
    font-size: 0.8rem;
    opacity: 0.5;
}

.about-story {
    padding: 0 15%;
}

.about-story-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.about-story .about-image {
    flex: 1;
}

.about-story .about-image img {
    height: auto;
    width: 500px;
}

.about-story-text span {
    font-size: 0.9rem;
    line-height: 125%;
    word-spacing: 5px;
    opacity: 0.8;
    color: var(--text-muted);
}

.about-features {
    background-color: var(--white-color);
    padding: 6% 0;
}

.about-features h2 {
    font-size: 1.8rem;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
}

.slick-slide {
    pointer-events: none;
}

.slick-slide div {
    transition: all 0.5s ease-in-out;
}

.slick-slide img {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

.slick-center .feature-img {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  
.slick-center div {
    margin-top: 2%;
    transform: scale(1);
    opacity: 1;
}
  
.slick-slide:not(.slick-center) div {
    transform: scale(0.9);
    opacity: 0.5;
}

.slick-slide:not(.slick-center) .feature-img {
    transform: scale(0.9);
    opacity: 0.7;
}

.slick-slide .feature-content {
    padding: 10px;
}

.slick-slide span {
    font-size: 0.8rem;
    opacity: 0.9;
    line-height: 1.5;
    margin-top: 10px;
}

.about-team {
    padding: 0 15%;
}

.about-team h2 {
    margin-top: 2%;
    font-size: 1.8rem;
}

.team-member .line-wrapper {
    line-height: 1.6;
    font-size: 0.9rem;
    opacity: 0.9;
    text-align: justify;
}

.member-degree {
    font-size: 0.8rem;
}

@media (max-width: 1024px) {
    .about-story {
        padding: 0 5%;
    }
    .about-team {
        padding: 0 5%;
    }
}

@media (max-width: 768px) {
    .about-story {
        flex-direction: column;
        padding: 0 3%;
    }

    .about-story div:first-child {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-story-text {
        order: 2;
    }
    .about-story .about-image {
        order: 1;
    }
    .about-features h2, .about-team h2 {
        font-size: 1.5rem;
    }
    .about-features {
        padding: 8% 3%;
    }

    .about-features h2, .about-team h2 {
        font-size: 1.2rem;
    }

    .about-team .about-team-main {
        flex-direction: column;
    }
}

@media (max-width: 426px) {
    .about-us-page {
        margin-top: 3%;
    }
    .about-story {
        padding: 0 2%;
    }

    .about-story div:first-child {
        flex-direction: column;
    }

    .about-story .about-image {
        margin: 0;
    }

    .about-story .about-image img {
        width: 250px;
    }

    .about-story .about-story-text {
        padding: 5%;
    }

    .about-story-text span {
        font-size: 0.7rem;
        word-spacing: 2px;
        text-align: justify;
    }

    .about-story-text span {
        font-size: 0.8rem;
        word-spacing: 3px;
    }

    .about-features {
        padding: 10% 0;
    }

    .about-features h2, .about-team h2 {
        font-size: 1.3rem;
    }
      
    .slick-center div {
       display: flex;
       justify-content: flex-start;
       align-items: flex-start;
        margin-top: 2%;
        transform: scale(1);
        opacity: 1;
    }
      
    .slick-slide:not(.slick-center) div {
        display: none;
        opacity: 0.5;
    }
    
    .slick-slide .feature-content {
        padding: 10px;
    }
    
    .slick-slide span {
        font-size: 0.8rem;
        opacity: 0.9;
        line-height: 1.5;
        margin-top: 10px;
    }
}

@media (max-width: 376px) {
    .about-story div:first-child {
        flex-direction: column;
    }

    .about-story .about-image {
        margin: 0;
    }

    .about-story .about-image img {
        width: 250px;
    }

    .about-story .about-story-text {
        padding: 5%;
    }

    .about-story-text span {
        font-size: 0.7rem;
        word-spacing: 2px;
        text-align: justify;
    }

    .about-features h2, .about-team h2 {
        font-size: 1.2rem;
    }

    .about-team .about-team-main {
        flex-direction: column;
    }
}

@media (max-width: 321px) {
    .about-us-page {
        margin-top: 2%;
    }

    .about-story div:first-child {
        flex-direction: column;
    }

    .about-story .about-image {
        margin: 0;
    }

    .about-story .about-image img {
        width: 250px;
    }

    .about-story .about-story-text {
        padding: 5%;
    }

    .about-story-text span {
        font-size: 0.7rem;
        word-spacing: 2px;
        text-align: justify;
    }

    .about-features h2, .about-team h2 {
        font-size: 1.2rem;
    }

    .about-team .about-team-main {
        flex-direction: column;
    }
}
