* {
    box-sizing: border-box;
}

html, body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    height: 100%;
    color: var(--second-color);
}

.create-story-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 15%;
}

.create-story-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-story-title i{
    opacity: 50%;
    text-align: center;
    font-size: 14px;
}

.create-story-main{
    display: flex;
}

.create-left{
    flex: 20%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.left-description{
    margin-top: 3%;
    text-align: center;
    font-size: 12px;
    opacity: 50%;
}

.create-left img{
    border: 1px solid gainsboro;
    border-bottom: none;
    border-radius: 3px 3px 0px 0;
}

.bi-cloud-arrow-up-fill::before{
    font-size: 14px;
    margin-left: 3px;
    color: whitesmoke;
}

.create-left button{
    width: 200px;
    border: none;
    background-color: cornflowerblue;
    border-radius: 0 0 3px 3px;
    color: whitesmoke;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message-cover{
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    max-width: 300px;
    text-align: center;
    transition: opacity 0.5s ease-out;
}

.create-right{
    flex: 80%;
}

.span-plus{
    cursor: pointer;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.tag-item {
    background-color: #f8d9e0;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    align-items: center;
}

.tag-text {
    margin-right: 5px;
    font-size: 14px;
}

.remove-tag {
    font-size: 16px;
    color: #d9534f;
    cursor: pointer;
    margin-left: 5px;
}

.create-story-btn{
    width: 100%;
    padding: 10px;
    background-color: var(--theme-color);
    color: whitesmoke;
    border: none;
    border-radius: 0.375rem;
}

.create-story-btn:hover {
    background-color: indianred;
}

.form-select-create{
    color: var(--second-color) !important;
}

@media (max-width: 480px) {
    .create-story-main{
        flex-direction: column;
    }
    .create-left{
        flex: 100%;
        margin-bottom: 10%;
    }
    .create-right{
        flex: 100%;
    }
}