@media (max-width: 992px) {
    footer {
        padding: 0 !important;
        margin: 0 !important;
    }

    footer .col-md-4 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer .nav {
        justify-content: center;
        width: 100%;
        margin-top: 15px;
    }

    footer .nav-item {
        margin: 5px 10px;
    }

    footer .down {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer .down .nav li{
        margin-left: 0 !important;
        margin-bottom: 2%;
    }
}

@media (max-width: 576px) {
    footer .nav-link {
        font-size: 0.9rem;
    }

    footer .text-body-secondary {
        font-size: 0.75rem;
    }

    footer .mb-3 {
        font-size: 0.75rem;
    }

    footer .modal-body h6 {
        font-size: 1rem;
    }

    footer .modal-body p {
        font-size: 0.85rem;
    }

    footer .nav .ms-3 {
        margin-left: 0.5rem;
    }

    footer .col-md-4 {
        padding-top: 10px;
    }

    footer .nav {
        padding-left: 0;
        padding-right: 0;
    }
}