.categories-page {
    color: var(--second-color);
}

.categories-page .container .categories-list .category-card{
    cursor: pointer;
}

.categories-page .container .categories-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 0px;
}

.categories-page .container .categories-list .category-card {
    transition: all 0.3s ease-in-out;
    background: transparent;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
    margin-bottom: 10%;
    background-color: var(--bg-color);
}

.categories-page .container .categories-list .category-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.categories-page .container .categories-list .category-card .category-image {
    width: 180px;
    height: 240px;
    object-fit: cover;
    margin-bottom: 15px;
}

.categories-page .container .categories-list .category-card .category-image:hover {
    border-radius: 8px;
}

.categories-page .container .categories-list .category-card span {
    margin: 0;
    font-size: 1rem;
    opacity: 1;
}

@media (min-width: 1025px) {
    .categories-page .container .categories-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 25px;
        padding: 20px;
    }

    .categories-page .container .categories-list .category-card .category-image {
        width: 150px;
        height: 210px;
    }

    .categories-page .container .categories-list .category-card {
        padding: 20px 10px;
    }

    .categories-page .container .categories-list .category-card span {
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    .categories-page .container .categories-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 15px;
    }

    .categories-page .container .categories-list .category-card .category-image {
        width: 150px;
        height: 190px;
    }

    .categories-page .container .categories-list .category-card {
        padding: 18px 8px;
        margin-bottom: 7%;
    }

    .categories-page .container .categories-list .category-card span {
        font-size: 0.9rem;
        font-weight: 500;
    }
}

@media (max-width: 600px) {
    .categories-page .container .categories-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 10px;
    }

    .categories-page .container .categories-list .category-card .category-image {
        width: 120px;
        height: 170px;
    }

    .categories-page .container .categories-list .category-card {
        padding: 15px 5px;
        margin-bottom: 5%;
    }

    .categories-page .container .categories-list .category-card span {
        font-size: 0.9rem;
    }
}